// CONNECT BAR

.contact-title {
	text-transform: uppercase;
	text-align: center;
	padding-top: 100px;
}
.blue-bar-1 {
	margin-top: 50px;
	margin-bottom: 25px;
	background-color: #01192f;
	height: 125px;
}
ul.contact-info {
	list-style: none;
	color: #ffffff;
	font-weight: 200;
	align: center;
	padding-top: 25px;
	li {
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		line-height: 30px;
		i {
		padding-right: 15px;
		}
	}
}
@include media-breakpoint-up(md) {
ul.contact-info li {
	font-size: 18px;
	}
}
//CONTACT FORM
form {
	margin-bottom: 100px;
}
.contact-form-submit {
	background-color: #01192f;
	color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 50%;
}