// HEADER //
.header-about {
  text-align: center;
  text-transform: uppercase;
  background-image: url('../images/house-4.jpg');
  height: 575px;
}
// CONNECT BAR
.contact-title {
	text-transform: uppercase;
	text-align: center;
	padding-top: 100px;
}
.blue-bar-1 {
	margin-top: 50px;
	margin-bottom: 25px;
	background-color: #01192f;
	padding-bottom: 10px;
}
ul.contact-info {
	list-style: none;
	color: #ffffff;
	font-weight: 200;
	align: center;
	padding: 25px 0 0 0;
	li {

		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		line-height: 30px;
		i {
		padding-right: 15px;
		}
	}
}
.contact-link {
	color: #ffffff;
}
@include media-breakpoint-up(md) {
ul.contact-info li {
	font-size: 18px;
	}
}
//CONTACT FORM
form {
	margin-bottom: 100px;
}
.contact-form-submit {
	background-color: #01192f;
	color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 50%;
}