// HEADER //
.header-about {
  text-align: center;
  text-transform: uppercase;
  background-image: url('../images/header-sub.jpg');
  height: 575px;
}
// CONNECT BAR
.contact-title {
	text-transform: uppercase;
	text-align: center;
	padding-top: 100px;
}
.blue-bar-1 {
	margin: 50px 0 150px 0;
	background-color: #01192f;
	padding: 50px 0 10px 0;
}
ul.contact-info {
	list-style: none;
	color: #ffffff;
	font-weight: 200;
	align: center;
	padding: 25px 0 0 0;
	li {

		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		line-height: 30px;
		i {
		padding-right: 15px;
		}
	}
}
.contact-link {
	color: #ffffff;
}

@include media-breakpoint-up(md) {
ul.contact-info li {
	font-size: 18px;
	}
}
//CONTACT FORM
form {
	margin-bottom: 100px;
}
.main-background {
  h4 {
    color: #ffffff;
  }
    p {
    color: #ffffff;
  }
}
#viking-form {
  p {
    padding-top: 15px;
  }
  input[type="text"] {
    width: 100%;
  }
  input[type="radio"] {
    margin-right: 25px;
  }
  label {
      color: #ffffff;
  }
  textarea {
    width: 100%;
    height: 200px;
    text-align: left;
  }
  .tell-me-more {
    padding-top: 20px;
  }
  button {
  	background-color: #01192f;
  	color: #ffffff;
    padding: 15px 15px 15px 15px;
    margin: 25px 0 0 0;
  	border-radius: 5%;
  }
}
