.kitchens {
	
	h1 {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 25px;
		color: #01192f;
	}
}

.kitchen-description {
	a {
		color: #01192f;
	}
	margin-bottom: 50px;
}
//BEGIN KITCHEN PREVIEW IMAGES
.kitchen-img {
	margin:0;
	padding: 0;
	margin-bottom: 100px;
	list-style: none;
	li {
		display: inline-block;
		padding: 0;
		margin: 0;
		img {
			width: 100%;
		}
	}
	.img-hover {
      background: rgba(1, 25, 47, 0.7);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity:0;
      text-align: center;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
  }
  .preview-text {
  	text-align: center;
  	color: #ffffff;
  	font-size: 36px;
  	padding-top: 75px;
  }
  .item-img:hover .img-hover {
    opacity:1;
  }
  .preview-img .img-hover {
    background: $blue;
    opacity: 0;
  }
  .preview-img:hover .img-hover {
    opacity: 1.0;
  }
}
//END KITCHEN PREVIEW IMAGES